body{
    margin: 0px;                    /*去除页面默认边距*/
}
.h{
    position: fixed;                    /*设置header为相对浏览器窗口定位*/
    width: 100%;                        /*设置宽度为窗口的100%*/
    height: 50px;                       /*设置header高度为50px*/
    background-color: rgb(95, 192, 205);/*设置header为蓝色*/
    display: inline-flex;               /*设置display属性为inline-flex排列*/
    align-items: center;                /*行列项目中垂直居中排列*/
}
footer.h{
    bottom: 0px;                         /*设置footer紧贴窗口下边*/
    background-color: rgb(248, 250, 251);/*设置footer颜色为*/
}
p.h{
    background-color: white;             /*设置列表头颜色为白色*/
    top: 50px;                           /*设置列表头距离窗口上边为50px 紧贴header*/
    margin: 0px;                         /*消除产生的默认外边距*/
}
.p{
    display:flex;                        /*设置布局为flex弹性布局*/
    flex-direction:column;               /*设置列表主体主轴方向为从上往下*/
    padding:100px 0px 50px 0px;          /*设置上内边距为100px 下内边距为50px 只在中间界面显示*/
    margin:0px;                          /*消除产生的默认边距*/
}


















