body{
    margin: 0px;                    /*去除页面默认边距*/
}
.h{
    position: fixed;                    /*设置header为相对浏览器窗口定位*/
    width: 100%;                        /*设置宽度为窗口的100%*/
    height: 50px;                       /*设置header高度为50px*/
    background-color: rgb(95, 192, 205);/*设置header为蓝色*/
    display: inline-flex;               /*设置display属性为inline-flex排列*/
    align-items: center;                /*行列项目中垂直居中排列*/
}
footer.h{
    bottom: 0px;                         /*设置footer紧贴窗口下边*/
    background-color: rgb(95, 192, 205);/*设置footer颜色为*/
    height: 60px;                       /*设置footer的高度为60px*/
}
p.h{
    background-color: white;             /*设置列表头颜色为白色*/
    top: 50px;                           /*设置列表头距离窗口上边为50px 紧贴header*/
    margin: 0px;                         /*消除产生的默认外边距*/
}
.p{
    display:flex;                        /*设置布局为flex弹性布局*/
    flex-direction:column;               /*设置列表主体主轴方向为从上往下*/
    padding:100px 0px 50px 0px;          /*设置上内边距为100px 下内边距为50px 只在中间界面显示*/
    margin:0px;                          /*消除产生的默认边距*/
}

.map{
    position: fixed;                     /*设置定位方式*/
    right: 10px;                         /*设置紧贴窗口右边*/
    height: 20px;                        /*设置图标高度改变其大小*/
}

.select{
    height: 100%;                        /*设置高度为列表头的100%*/
    width: 33.3%;                        /*设置宽度为屏幕宽度的33.3%*/
}

.h2{
    margin-top: 20px;                   /*设置上外边距为20px*/
    height: 100%;                       /*设置按钮高为footer的100%*/
    /*margin: 0px;                        !*设置margin为0px 消除默认边距*!*/
    background: url("home.png") no-repeat center top;
                                        /*插入背景图片 并设置水平居中*/
    background-size: 20px;              /*设置图片大小为40px*/
    font-size: 10px;                    /*设置字体大小为20px*/
    border:solid rgb(248, 250, 251);    /*设置边框为实体线消除阴影 并设置颜色与footer同色*/
    flex-grow: 3;                       /*设置显示放大比例来排列三个按钮*/
}
.h3 {
    margin: 0px;                        /*设置默认边距为0px*/
    width: 60px;                        /*设置宽度为60ps*/
    background: url("task5.jpg") no-repeat center top;
                                        /*插入背景图片 并设置水平居中 */
    background-size: 50px;              /*设置图片大小为74px*/
    flex-grow: 1;                        /*设置显示放大比例来排列三个按钮*/
}
.h4{
    background: url("man.png")   no-repeat center top;
                                        /*插入背景图片 并设置水平居中*/
    background-size: 20px;
    flex-grow: 3;                       /*设置显示放大比例来排列三个按钮*/
}



.wrap {
    width:140px;                        /*设置容器的宽度*/
    height:40px;                        /*设置容器的高度*/
    position: fixed;                    /*设置为相对浏览器窗口定位*/
    left: 50%;                          /*设置距离左边50%*/
    margin-left: -70px;                 /*设置左内边距为-70px 矫正吱声长度带来的偏差*/
}
input {
    display:none;                       /*设置使input不可见*/
}
label {
    display:block;                      /*设置元素为块级元素 并带有前后换行符*/
    border:1px solid
    rgb(95, 192, 205);                  /*设置边框宽度为1px 实体线无阴影 颜色与header同色*/
    background: rgb(85, 168, 179);      /*设置右边滑动轨道内部背景颜色*/
    height:40px;                        /*设置滑动框高度*/
    border-radius:5px;                  /*为滑动框添加圆角边框 半径5px*/
    transition:.3s;                     /*设置滑块过渡效果为3s*/
}
label .move {
    display:block;                      /*设置此元素为块级元素 带有前后换行符*/
    width:70px;                         /*设置宽度为50px*/
    height:40px;                        /*设置高度为40px*/
    border-radius:5px;                  /*设置圆角 半径5px*/
    box-shadow:1px 1px 1px
    rgb(95, 192, 205);                  /*设置滑块边框样式*/
    background:white;                    /*设置滑块背景颜色*/
    transition:.3s;                     /*设置滑块过渡效果时长为3s*/
    overflow:hidden;                    /*设置元素显示方式 其余不可见*/
}
input:checked+label {
    background:rgb(85, 168, 179);       /*设置左边滑轨内部背景颜色*/
}
input:checked+label .move {
    transform:translateX(70px);         /*设置滑块可以横向滑动（translateX）滑动距离为70px*/
    box-shadow:none;                    /*消除阴影*/
}
.move span {
    width:100%;                         /*设置宽度*/
    display:block;                      /*设置元素为块级元素 带有前后换行符*/
    height:100%;                        /*设置高度*/
    line-height:1.25rem;                /*设置行高为*/
    transition:0.3s;                    /*设置滑动效果时长为0.3s*/
}
input:checked+label .move span {
    transform:translateX(-40px);
}
em {
    text-align:center;
    width:100%;
    height: 100%;
    font-size: 12px;                     /*设置字体大小*/
    font-style:normal;
    float: left;
}

.e {
    white-space: nowrap;                /*设置文字不换行*/
    width: 70px;
}




.圆角矩形_6 {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 358px;
    top: 50px;
    width: 144px;
    height: 70px;
    z-index: 7;
}
.圆角矩形_5 {
    border-radius: 10px;
    background-color: rgb(85, 168, 179);
    position: absolute;
    left: 217px;
    top: 50px;
    width: 286px;
    height: 70px;
    z-index: 6;
}
