.div3-1 {
    margin: 0 15px 20px 15px;
    padding: 8px 0;
    border-radius: 0;
    border-top: 1px solid rgb(208,214,217);
    border-bottom: 1px solid rgb(237,241,242);
}
.div3-1>li+li::before {
    content: "\00a0" !important;
}
.ul3-a:hover {
    background-color: rgb(29,177,118);
    color: white !important;
}

.take8-3-h5 {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(208,214,217);
}

.take8-3-div1 {
    box-shadow: 0 0 10px silver;
    margin: 0;
}
.take8-3-img {
    background-image: url("take8-3.png");
    background-repeat: no-repeat;
    background-position: 15px;
    padding: 10px 10px 10px 180px;
    margin: 10px 0;
    font-size: 12px;
}
.take8-3-d1 {
    line-height: 30px;
    border-top: 1px solid rgb(237,241,242);
    border-right: 1px solid rgb(237,241,242);
    border-bottom: 1px solid rgb(237,241,242);
    font-size: 12px;
}
.take8-3-d2 {
    border-right: none;
}
.take8-3-d3 {
    height: 90px;
    line-height: 90px;
    text-align: center;
}
.color-silver {
    color: rgb(153,153,153);
}
.text-center {
    text-align: center;
}
.margin-20px {
    margin: 20px;
}
.text-indent-20px {
    text-indent: 20px;
}
.take8-3-div2 {
    background-color: #0f0f0f;
    opacity: 0;
    color: white;
    position: absolute;
    top: 0px;
    height: 100%;
    padding: 50px 50px 0 50px;
    margin: 0 15px 0 0 !important;
}
.take8-3-div2:hover {
    opacity: 0.7;
}
.take8-3-div3 {
    margin: 20px 0;
}
.word-break {
    word-break: break-all;
}