body{
    margin: 0px;            /*去除默认边距*/
}

.heightp img{
    height: 50px;           /*设置默认高度为50px*/
    width: 100%;            /*设置内容宽度为页面宽度的100% 实现背景图片自动拉伸*/
}
p.heightp{
    height: 50px;           /*设置默认高度为50px*/
}

.maegin {
    margin: 3px 0;                        /*设置默认上外边距为4px*/
    background-color: rgb(255, 255, 255); /*设置背景颜色*/
    width:100%;                           /*设置宽度100%自适应屏幕宽度*/
    height: 50px;                         /*设置高度为50px*/
    border:none;                          /*隐藏表单边框*/
    padding-left: 50px;                   /*设置表单左内边距为50px 使输入框左移*/
}
.maegin-b{
    background-color: rgb(95, 192, 205); /*设置背景颜色*/
    color: aliceblue;                    /*设置字体颜色为白色s*/
    font-size: 15px;                     /*设定字体大小为15spx*/
    padding-left: 0px;                   /*取消登录按钮的左内边距 使字体居中*/
}

.maegin_h{;
    margin-top: 15px;         /*设置上外边距为15px*/
    position: absolute;       /*设置绝对定位*/
    color: rgb(255, 255, 255);/*设置字体颜色*/
    font-size: 15px;          /*设定字体大小为15spx*/
}
.h_1{
    left: 10px;               /*设置距离右边10px*/
}
.h_2{
    left: 50%;               /*设置距离右边50%*/
    margin-left: -16px;       /*距离右边50%减去自身一半宽度 实现绝对居中*/
}
.h_3{
    right: 10px;/*设置距离左边10px*/
}

.h_4{
    position: absolute;       /*设置绝对定位*/
    color:rgb(95, 192, 205);  /*设置字体颜色*/
    font-size: 12px;          /*设定字体大小为12spx*/
    right: 10px;              /*设置距离右边10px*/
    top: 230px;               /*设置距离上边缘230px*/
    text-decoration:underline;/*为字体添加下划线*/
}

.img{
    background-repeat:no-repeat;        /*设置图片不重复*/
    background-size:15px;               /*设置图片大小为15px*/
}

.img1{
    background-image: url("iphone.png");/*插入手机图标*/
    background-position:10px;           /*设置图片在input内的位置*/
}

.img2{
    background-image: url("locked.png");
    background-position:10px;           /*设置图片在input内的位置*/
}

