body {
    margin: 0px;                        /*去掉默认margin*/
}

.p1{
    float:left;               /*设定向右浮动*/
    margin-left: 20%;         /*设定右外边距为宽度20%*/
}

.p2{
    float: right;             /*向左浮动*/
    margin-right: 20%;        /*设置左边距为宽度20%*/
}

p{
    letter-spacing:0.5px;     /*设定字体间距为0.5px*/
    padding:5em;              /*设定上内边距为5em 实现保持在不同分辨率下高度不变的功能*/
    line-height: 1.807;       /*设置行间距为1.807*/
}

.Typeface{
    color: rgb(255, 255, 255);/*设置字体颜色*/
    font-size: 0.2em;         /*设定字体大小为0.2em*/
}

.center{
    text-align: center;       /*设定绝对居中*/
    margin-top:5em;           /*设定上外边距为5em*/
}

h1.maegin-top{
    margin-top:3em;           /*设定上外边距为3em*/
}

p.center {
    margin: 0%;              /*设定外边距为0%*/
}

.heightp img{
    height: 40px;            /*设定两个图标高度统一为40px*/
}

h1.heightp img{
    height: 35px;            /*设定logo高度为35px*/
}