body {
    background-image: url("图层 0.png");/*使用图层 0为背景图*/
    margin: 0px;                        /*去掉默认margin*/
}
h1 {
    text-align: center;       /*设定logo绝对居中*/
    margin-top:1em;           /*设定上外边距为1em*/
}

p1{
    color: rgb(255, 255, 255);/*设置字体颜色*/
    float:left;               /*向右浮动*/
    margin-top:8em;           /*设定上外边距为1em*/
    margin-left: 20%;         /*设定右外边距为20%*/
    text-align: center;       /*设定文字绝对居中*/
    font-size: 0.2em;         /*设定字体大小为0.2em*/
}

p2{
    color: rgb(255, 255, 255);/*设置字体颜色*/
    float: right;             /*向左浮动*/
    margin-top:8em;           /*设定上外边距为1em*/
    margin-right: 20%;        /*设定左外边距为20%*/
    text-align: center;       /*设定文字绝对居中*/
    font-size: 0.2em;         /*设定字体大小为0.2em*/
}

p {
    margin: 0% ;              /*设定两边的外边距来实现文字自适应屏幕宽度*/
    padding:5em;              /*设定上内边距为1em 实现保持在不同分辨率下高度不变的功能*/
    font-size: 0.2em;         /*设定字体大小为0.2em*/
    text-align: center;       /*设定文字绝对居中*/
    color: rgb(255, 255, 255);/*设置字体颜色*/
    line-height: 1.807;       /*设置行间距为1.807*/
}