body {
    margin: 0;
    height: 100vh;
}

.header-p1 {
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.background-blue {
    background-color: rgb(18,119,220);
    height: 40px;
}
.text-center {
    text-align: center;
}
.hover1-header {
     border-left: 1px solid white;
     border-right: 1px solid white;
    box-sizing: border-box;
 }
.hover1-header:hover {
    background-color: white;
    color: rgb(0,0,0);
    cursor: pointer;
}

.background-silver {
    background-color: rgb(249,249,249);
}
nav {
    height: 61px;
}
.right {
    float: right;
    display: flex;
}
.nav-a {
    padding: 10px;
    margin: 10px 0 10px 50px;
    background-color: white;
    box-shadow: 1px 1px  silver;
    border-radius: 5px;
}
.nav-a:hover {
    background-color: rgb(18,119,220);
    color: white;
    cursor: pointer;
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    font-size: 14px;
}
.footer-a {
    margin: 10px 0;
    text-align: center;
    cursor: alias;
}
.footer-div2 {
    background-image: url(32213eeb65ba.png);
    background-repeat: no-repeat;
    background-position: right;
}