body {
    margin: 0;
    height: 100vh;
}

.margin0 {
    margin: 0 !important;
}

.display-flex {
    display: flex;
}
.header-p1 {
    color: white !important;
    padding: 20px 0;
    font-size: 14px;
}
.background-blue {
    background-color: rgb(18,119,220);
}
.text-center {
    text-align: center;
}
.hover1-header {
     border-left: 1px solid white;
     border-right: 1px solid white;
    box-sizing: border-box;
 }
.hover1-header:hover {
    background-color: white;
    color: rgb(0,0,0) !important;
    cursor: pointer;
}

.background-silver {
    background-color: rgb(249,249,249);
}

.right {
    float: right !important;
    display: flex;
}
.nav-a {
    padding: 10px;
    margin: 10px 0 10px 50px;
    background-color: white;
    box-shadow: 1px 1px  silver;
    border-radius: 5px;
}
.nav-a:hover {
    background-color: rgb(18,119,220);
    color: white;
    cursor: pointer;
}

.flex-end {
    justify-content: flex-end;
}
.div-div {
    text-align: center;
    cursor: pointer;
}
.div-div:hover {
    color: rgb(255,127,0);
}
.div-p {
    font-size: 12px;
}
.div-hover {
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgb(204,204,204);
    color: white;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    margin: 20px 30px;
    cursor: pointer;
}

.div-hover::after {
    content: "";
    z-index: -10;
    display: block;
    width: 80px;
    height: 4px;
    background-color: rgb(204,204,204);
    position: relative;
    top: -12px;
    left: -28px;
}
.div-hover:hover::after, .div-hover:hover {
    background-color: rgb(255,127,0);
}

.h5-border {
    display: block;
    width: 6px;
    height: 26px;;
    border-radius: 4px;
    background-color: rgb(29, 122, 217);
    margin: 0 4px;
}
.div4-div2 {
    background-color: rgb(244,244,244);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid rgb(232,232,232);
    position: relative;
}
.div4-p1 {
    margin: 16px;
    padding-left: 26px;
    background-image: url("steam.lnk.png");
    background-position: left;
    background-repeat: no-repeat;
}
.div4-p2 {
    background-image: url("ruler.png");
}
.div4-p3 {
    background-image: url("scissors.png");
}
.div4-b {
    display: flex;
    background-color: white;
    width: 100%;
    border:1px solid rgb(231,231,231);
}
.div4-button {
    margin: 100px auto !important;
    padding: 4px 40px;
    color: white;
    background-color: rgb(227,79,79);
    border: 0 solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;: ;
}

.div4-div2-p {
    display: flex;
    position: relative;
    width: 100%;
    background-color: rgb(251,252,255);
    padding: 30px 0;
    margin: 0;
}
.input {
    margin: 20px 0;
}
.input2 {
    margin-bottom: 40px;
}

input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    margin: 0 20px 0 0;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    border: 1px solid rgb(214,214,214);
    border-radius: 50%;
}
input[type="radio"] + label:hover {
    border: 1px solid rgb(18,119,220);
    cursor: pointer;
}
input[type="radio"]:checked + label {
    border: 8px solid rgb(18,119,220);
}

.right40 {
    position: absolute;
    right: 40px;
}
.padding0 {
    padding: 0px;
}

.number {
    width: 60px;
    font-size: 12px;
}
.margin-r40 {
    display: inline-block;
    margin: 0 40px 0 40px;
}
.margin2 {
    margin: 20px 0 0 0;
}
@media screen and (max-width: 768px){
    .margin-m {
        margin-top: 20px;
        margin-left: 40px;
    }
}


.select {
    height: 30px;
    width: 116px;
}
.w {
    display: flex;
    height: 30px;
    width: 116px;
}
.w::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 45px;
    height: 20px;
    width: 20px;
    background: rgb(18,119,220);
}
.w::before {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    right: 50px;
    height: 0;
    width: 0;
    border-top: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    background-color: transparent;
    z-index: 100;
}
.position-r-ab {
    position: absolute;
    right: 0;
}



.align-items-center {
    align-items: center;
}
.select2 {
    float: right;
    position: absolute;
    right: 40px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    font-size: 14px;
    margin-top: 100px;
    color: rgb(153,153,153);
}
.footer-a {
    display: block;
    text-align: center;
    cursor: alias;
    height: 18px;
    line-height: 18px;
}
.footer-a:hover {
    color: rgb(18,119,220);
    cursor: pointer;
}
@media screen and (max-width: 768px) {
    .footer-a {
        margin: 10px 0 !important;
    }
}


.footer-div2 {
    background-image: url(32213eeb65ba.png);
    background-repeat: no-repeat;
    background-position: right;
}
@media screen and (max-width: 992px) {
    .footer-div2 {
        -webkit-background-size: 70px;
        background-size: 70px;
    }
}

.footer-b {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(18,119,220);
    padding: 5px;
    color: white;
    font-size: 12px;
}


