body {
    margin: 0px;
}
a {
    text-decoration: none;
}
.img1 {
    display: block;
    height: 25px;
    width: 25px;
    border: 2px solid rgb(51,184,30);
    border-radius: 50%;
    background-image: url("spire.png");
    background-position: 2.5px 2.5px;
    background-repeat: no-repeat;
}
.img2 {
    background-position: -26.5px 2.5px;

}
.img3 {
    background-position: -58px 2.5px;
}
.div1 {
    display: flex;
    justify-content: space-around;
}