body {
    margin: 0px;
}
a {
    text-decoration: none;
}

.header0 {
    display: block;
    height: 40px;
    line-height: 40px;
}
.img1 {
    display: block;
    height: 25px;
    width: 25px;
    border: 2px solid rgb(51,184,30);
    border-radius: 50%;
    background-image: url("spire.png");
    background-position: 2.5px 2.5px;
    background-repeat: no-repeat;
}
.img2 {
    background-position: -26.5px 2.5px;

}
.img3 {
    background-position: -58px 2.5px;
}
.div1 {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.header {
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 40px;
    left: 0px;
    background-color: rgb(29,177,118);
}

.header1 {
    line-height: 50px;
    color: white;
}

.div2 {
    top: 50px;
}
