body {
     margin: 0px;
     background-color: rgb(41,189,224);
 }


.header1 {
    position: absolute;
    background-image: url("header2.png");
    background-size: 30px;
    height: 70px;                           /*s设置header高度为70px*/
    text-align: center;                     /*设置文字水平居中*/
    line-height: 70px;                      /*设置line-height为70px 同header同样高度 文字垂直居中*/
    color: white;                           /*设置文字颜色为白色*/
    font-size: 20px                          /*设置文字大小为20px*/
}

.x {
    display: block;
    height: 30px;
    width: 30px;
    position: absolute;                     /*相对父元素绝对定位*/
    top: 20px;
    right: 20px;
    cursor: pointer;                    /*s设置光标样式手指变化*/
}
.x::before,
.x::after {                                                 /*前后插入两个样式*/
    content: "";
    position: absolute;                                     /*设置绝对定位*/
    height: 30px;                                           /*高设置30px*/
    width: 2px;                                           /*宽设置1.5px*/
    background: white;                                      /*设置颜色为白色*/
}
.x::before {
    transform: rotate(45deg);                               /*进行顺时针45度旋转*/
}
.x::after {
    transform: rotate(-45deg);                              /*进行逆时针45度旋转*/
}

.div3 {
    display: block;
    position: relative;
    top: 70px;
    height: 70px;
    background-color:  rgb(185,233,245);
}
.o {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: #ffb50c;
    border-radius: 50%;
}
.o::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;

}
audio{
    position: absolute;
    opacity: 0;
    right: 5px;
    top: 10px;
    transform: rotate(-180deg);
    width: 100px;
    cursor: pointer;                    /*s设置光标样式手指变化*/
}

audio::-webkit-media-controls-panel {
    background: transparent;                                /*设置播放面板颜色*/
}
audio::-webkit-media-controls-mute-button {
    display: none;                                      /*设置取消静音按钮*/
}
audio::-webkit-media-controls-play-button {
    /*设置播放暂停按钮区域的样式*/
}
audio::-webkit-media-controls-timeline-container {
    display: none;                                      /*时间控制滑块*/
}
audio::-webkit-media-controls-current-time-display {
    display: none;                                      /*设置省略号按钮隐藏*/
}
audio::-webkit-media-controls-time-remaining-display {
    display: none;                                      /*设置时间显示隐藏*/
}
audio::-webkit-media-controls-timeline {
    display: none;                                      /*设置进度条隐藏*/
}
audio::-webkit-media-controls-volume-slider-container {
    display: none;                                      /*体积控制边框*/
}
audio::-webkit-media-controls-volume-slider {
    display: none;                                      /*边框线*/
}

.div4 {
    background-color: rgb(41,189,224);
    padding: 10px 0px 0px 50px;
    color: white;
    white-space: nowrap;
}

.triangle3 {
    content: "";
    position: absolute;
    top: -5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid rgb(185,233,245);
}

.div5 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    top: 180px;

}
.a1 {
    position: relative;
    width: 19vw;
    height: 19vw;
    text-align: center;
    line-height: 19vw;
    background-color: rgb(243,200,149);
    margin: 5vw;
    border: 1vw solid rgb(254,255,254);
}
.p1 {
    display: block;
    position: absolute;
    width: 100%;
    height: 4vw;
    line-height: 4vw;
    bottom: 0px;
    background-color: rgb(130,175,155);
    color: white;
    font-size: 1vw;
}
span {
    display: block;
    width: 30px;
    height: 25px;
    background-image: url("组4.png");
    background-repeat: no-repeat;
    background-size: 16vw;                         /*定义雪碧图X轴长度 使其生效*/

}
p:hover .hover1 {
     display: block;
     position: absolute;
     bottom: -6vw;
     left: -1vw;
     width: 4vw;
     height: 4vw;
     background-image: url("组4.png");
     background-repeat: no-repeat;
     background-color: white;
     background-position: 0px 2px;
     background-size: 16vw;
 }
p:hover .hover2 {
    display: block;
    position: absolute;
    bottom: -6vw;
    left: 4.66vw;
    width: 4vw;
    height: 4vw;
    background-image: url("组4.png");
    background-repeat: no-repeat;
    background-color: white;
    background-position: -35px 2px;
    background-size: 16vw;
}
p:hover .hover3 {
    display: block;
    position: absolute;
    bottom: -6vw;
    left: 10.33vw;
    width: 4vw;
    height: 4vw;
    background-image: url("组4.png");
    background-repeat: no-repeat;
    background-color: white;
    background-position: 0px 2px;
    background-size: 16vw;

}
p:hover .hover4 {
    display: block;
    position: absolute;
    bottom: -6vw;
    left: 16vw;
    width: 4vw;
    height: 4vw;
    background-image: url("组4.png");
    background-repeat: no-repeat;
    background-color: white;
    background-position: 0px 2px;
    background-size: 16vw;
}

.footer {
    display: block;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background-color: rgb(41,189,224);
}
.bt {
    display: block;
    position: relative;
    height: 50px;
    width: 70vw;
    top: 10px;
    margin-left: 15vw;
    background-color: rgb(248,180,69);
    text-align: center;
    line-height: 50px;
    color: white;
}