body {
    margin: 0px;
    background-color: rgb(240 240 240);
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: rgb(41, 189, 224);
    background-image: url("header1.png");
    background-position: 10px ;
    background-repeat: no-repeat;
}

.div0 {
    margin: 70px 20px 20px 20px;
}
.input {
    border: 1px solid rgb(201, 201, 201);
    height: 70px;
    width: 100%;
    background-color: white;
    color: rgb(154, 154, 154);                            /*设置文字颜色*/
    font-size: 20px;
    background-image: url("back-Icon.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95%;                /*定位图标位置*/
    cursor: pointer;                    /*s设置光标样式手指变化*/
}

.div {
    margin: 20px 20px 0px 20px;
    border: 1px solid rgb(201, 201, 201);
    background-color: white;
}
.h {
    display: block;
    border-bottom: 1px solid rgb(251, 180, 53);
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;                          /*设置文字垂直居中*/
    color: rgb(251, 180, 53);                   /*设置文字颜色*/
    font-size: 26px;
}
.triangle {
    display: flex;
    width: 0px;
    height: 0px;
    padding: 0px;
    background-color: transparent;
    border-top: 20px solid transparent;
    border-right: 0px ;
    border-bottom: 20px solid transparent ;
    border-left: 20px solid rgb(251, 180, 53);
    cursor: pointer;                    /*s设置光标样式手指变化*/
    flex-shrink: 0;
}
.dl1 {
    display: flex;
    width: 100%;
    flex-direction: row;                     /*设置主轴方向从上到下*/
    align-items: center;
    margin: 0px;
    flex-shrink: 0;
}
.dl2 {
    flex-direction: column;
    margin: 0px;
}
.dt {
    width: 98%;
    text-align: center;
    line-height: 40px;
    color: rgb(120, 120, 120);
}
.input1 {
    width: 100%;
    height: 50px;
    background-color: rgb(105, 209, 233);
    color: white;
    border: 0px;
    cursor: pointer;                    /*s设置光标样式手指变化*/
}
.div1 {
    display: flex;
    height: 302px;
    margin: 30px 30px 0px 30px;
    overflow: hidden;
    scroll-behavior: smooth;            /*选项卡平滑移动*/
}
.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    display: block;
    background-color: transparent;
    width: 10px;
    height: 10px;
    border: 1px silver solid  ;
    border-radius: 50%;
    margin-left: 5px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
}
.aa {
    background-color: rgb(105, 209, 233);
}
